<div class="row">
  <div class="col-sm-6 col-sm-offset-3 box">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal, html: { method: :put }) do |f| %>
      <%= f.email_field :email, autofocus: true %>
      <%= f.password_field :current_password, autocomplete: "off" %>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.form_group do %>
        <%= f.submit "修改密码" %>
      <% end %>
    <% end %>
  </div>
</div>
