<div class="row">
  <div class="col-sm-4 col-sm-offset-1 box">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name),
                           layout: :horizontal,
                           label_col: "col-sm-3", control_col: "col-sm-9",
                           html: { method: :put, multipart: true }) do |f| %>
      <%= f.form_group do %>
        <%= image_tag resource.avatar || 'user.png', width: 64, height: 64 %>
      <% end %>
      <%= f.file_field :avatar %>
      <%= f.text_field :name %>
      <%= f.collection_select :gender, User::GENDERS, :to_s, :to_s, prompt: true %>
      <%= f.collection_select :astro, User::ASTROS, :to_s, :to_s, prompt: true %>
      <%= f.text_field :city %>
      <%= f.text_area :intro, rows: 5 %>
      <%= f.form_group do %>
        <%= f.submit "修改资料" %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-4 col-sm-offset-2 box">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", html: { method: :put }) do |f| %>
      <%= f.email_field :email %>
      <%= f.password_field :current_password, autocomplete: "off" %>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.form_group do %>
        <%= f.submit "修改密码" %>
      <% end %>
    <% end %>
  </div>
</div>
