<div class="row">
  <div class="col-sm-6 col-sm-offset-3 box">
    <%= bootstrap_form_for resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal do |f| %>
      <%= f.email_field :email, autofocus: true %>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.form_group do %>
        <%= f.submit "注册" %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to "已注册用户登录", new_user_session_path %>
      <% end %>
    <% end %>
  </div>
</div>
