<h2>电影列表</h2>

<hr>

<% if is_admin? %>
  <%= link_to '创建新电影', new_movie_path, class: 'btn btn-sm btn-default' %>
  <hr>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>海报</th>
      <th>名称</th>
      <th>英文名</th>
      <th>年份</th>
      <% if is_admin? %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie do %><%= image_tag movie.poster, width: 50, height: 75 %><% end %></td>
        <td><%= link_to movie.name, movie %></td>
        <td><%= movie.alias %></td>
        <td><%= movie.year %></td>
        <% if is_admin? %>
          <td><%= link_to '图片', movie_photos_path(movie) %></td>
          <td><%= link_to '编辑', edit_movie_path(movie) %></td>
          <td><%= link_to '删除', movie, method: :delete, data: { confirm: '确认删除？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
