<div class="row movie-info">
  <div class="col-sm-3">
    <%= image_tag @movie.poster, width: 270, height: 405, class: 'img-responsive' %>
    <div class="movie-likes">
      <div class="btn-group">
        <% Movie::LIKE_TYPES.each do |type, type_text| %>
          <% text = "#{type_text} (#{@movie.likes_with(type).count})" %>
          <% if user_signed_in? && current_user.likes_with?(@movie, type) %>
            <%= link_to text, likes_movie_path(@movie, type: type), class: "btn btn-default active", method: :delete %>
          <% else %>
            <%= link_to text, likes_movie_path(@movie, type: type), class: "btn btn-default", method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="movie-ratings pull-right">
      <h2><%= @movie.ratings %></h2>
      <span class="movie-ratings-rating comment-rating" data-rating="<%= @movie.ratings %>"></span>
      <span class="movie-ratings-bottom">评分</span>
    </div>
    <h2>
      <%= @movie.name %>
      <small>(<%= @movie.year %>)</small>
      <% if is_admin? %>
        <div class="btn-group">
          <%= link_to '新增电影', new_movie_path(@movie), class: 'btn btn-sm btn-default' %>
          <%= link_to '编辑电影', edit_movie_path(@movie), class: 'btn btn-sm btn-default' %>
          <%= link_to '新增时间', new_movie_timetable_path(@movie), class: 'btn btn-sm btn-default' %>
          <%= link_to '图片管理', movie_photos_path(@movie), class: 'btn btn-sm btn-default' %>
        </div>
      <% end %>
    </h2>
    <h4><%= @movie.alias %></h4>
    <p>主演：<%= @movie.star %></p>
    <p>导演：<%= @movie.director %></p>
    <p>编剧：<%= @movie.writer %></p>
    <p>国家：<%= @movie.country %></p>
    <p>上映：<%= @movie.release_date %></p>
    <p>片长：<%= @movie.runtime %>分钟</p>
    <p>又名：<%= @movie.aka %></p>
    <p>类型：<%= @movie.genre %></p>
    <%= simple_format @movie.content %>
    <% if @photos.count > 0 %>
      <div class="movie-photo-block">
        <% @photos.each do |photo| %>
          <%= movie_image_tag photo, class: 'movie-photo', width: 100, height: 100 %>
        <% end %>
        <%= link_to '查看所有图片', movie_photos_path(@movie), class: 'movie-photo-more' %>
      </div>
    <% end %>
    <div class="col-sm-8 movie-comment-block">
      <% if user_signed_in? %>
        <%= bootstrap_form_for @comment, url: comments_movie_path(@movie) do |f| %>
          <%= f.label :rating %>
          <span class="movie-rating" id="rating"></span>
          <%= f.hidden_field :rating %>
          <%= f.text_area :content, skip_label: true, rows: 3, placeholder: "您还没有发表影评" %>
          <%= f.submit "发表", disabled: @comment.rating.nil? %>
          <% if not @comment.new_record? %>
            <%= link_to '删除', comments_movie_path(@movie), class: 'pull-right text-danger', method: :delete, data: { confirm: '确认删除？' } %>
          <% end %>
        <% end %>
        <script>
          $(function () {
            $("#rating").rateYo({
              rating: $("#rating").siblings('input[name="comment[rating]"]').val() || 0,
              starWidth: '16px',
              fullStar: true,
              onChange: function (rating, instance) {
                $(instance.node).siblings('input[name="comment[rating]"]').val(rating);
                $(instance.node).siblings('input[type=submit]').prop('disabled', rating === 0);
              }
            });
          });
        </script>
      <% else %>
        <%= link_to "登录", new_user_session_path %>后发表影评。
      <% end %>
    </div>
  </div>
</div>

<div class="row movie-timetables">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="no-link"><a name="cinemas">上映影院</a></li>
      <% @dates.each.with_index do |date, i| %>
        <li class="<%= i == 0 && ' active' || '' %>"><a href="#date-<%= date %>" data-toggle="tab" class="movie-timetable-date"><%= date %></a></li>
      <% end %>
      <li class="dropdown pull-right" id="timetables-districts-container">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id="timetables-district">选择地区</span> <span class="caret"></span></a>
        <ul id="timetables-districts" class="dropdown-menu"></ul>
      </li>
    </ul>
    <div class="tab-content">
      <% if @dates.length == 0 %>
        <p class="movie-timetable-none">当前城市没有影院上映这部电影。</p>
      <% end %>
      <% @dates.each.with_index do |date, i| %>
        <div class="tab-pane<%= i == 0 && ' active' || '' %>" id="date-<%= date %>">
          <table class="table movie-timetable">
            <tbody>
              <% @timetables_by_date[i].each do |_, tts| %>
                <% tt = tts[0] %>
                <tr data-district="<%= tt.cinema.district %>">
                  <td>
                    <%= link_to tt.cinema do %>
                      <%= image_tag nil, data: { src: tt.cinema.logo }, width: 102, height: 44 %>
                    <% end %>
                  </td>
                  <td><%= link_to tt.cinema.name, tt.cinema %></td>
                  <td><%= tt.date.strftime('%F') %></td>
                  <td class="text-right">
                    <%= tts.map(&:time).minmax.map{|t|t.strftime('%T')}.join(' - ') %>
                    <% if is_admin? %>
                      <br>
                      <small><%= link_to "删除 #{tts.count} 个时间", timetables_by_cinema_movie_path(@movie, cinema_id: tt.cinema.id, date: date),
                        method: :delete, data: { confirm: '确认删除？' } %></small>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
(function () {
  var preferredDistrict = localStorage ? localStorage.selectedDistrict : null;
  function updateTimetableDistricts () {
    var districts = $('.movie-timetables .tab-pane.active tr[data-district]').map(function() {
      return $(this).data('district');
    });
    districts = $.grep(districts, function (item, key) {
      return !!item && $.inArray(item, districts) === key;
    });
    if (districts.length === 0) {
      $('#timetables-districts-container').hide();
      return;
    }
    $('#timetables-districts-container').show();
    districts.sort();
    $('#timetables-districts').empty();
    $.each(districts, function (i, district) {
      var count = $('.movie-timetables .tab-pane.active tr[data-district="' + district + '"]').length;
      $('#timetables-districts').append('<li><a href data-district="' + district + '">' + district + ' (' + count + ')</a></li>');
    });
    $(document).on('click', '#timetables-districts a', function (e) {
      e.preventDefault();
      var district = $(this).data('district');
      $('#timetables-district').text(district);
      $('.movie-timetables .tab-pane.active tr[data-district]').addClass('hide');
      $('.movie-timetables .tab-pane.active tr[data-district="' + district + '"]').removeClass('hide');
      $('.movie-timetables .tab-pane.active tr[data-district="' + district + '"] [data-src]').each(function () {
        $(this).prop('src', $(this).data('src'));
        $(this).removeAttr('data-src');
      });
      preferredDistrict = district;
      if (localStorage) {
        localStorage.selectedDistrict = district;
      }
    });
    if (preferredDistrict) {
      $('#timetables-districts a[data-district="' + preferredDistrict + '"]').click();
    } else {
      $('#timetables-districts a:first').click();
    }
  }
  $('.movie-timetable-date').on('shown.bs.tab', function (e) {
    updateTimetableDistricts();
  });
  updateTimetableDistricts();
})();
</script>

<div class="row movie-comments">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class="no-link"><a name="comments">影评</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <table class="table movie-comment">
          <tbody>
            <% if @comments.size > 0 %>
              <% @comments.each do |comment| %>
                <% next if !comment.user %>
                <tr>
                  <td class="movie-comment-user">
                    <%= link_to user_path(comment.user) do %>
                      <%= image_tag comment.user.avatar || 'user.png', width: 32, height: 32, class: 'user-avatar' %>
                      <%= comment.user.name || comment.user.email %>
                    <% end %>
                  </td>
                  <td class="movie-comment-rating">
                    <span class="comment-rating" data-rating="<%= comment.rating %>"></span>
                    <%= time_ago_in_words comment.updated_at %>
                  </td>
                  <td>
                    <%= simple_format comment.content %>
                    <% if comment.user == current_user %>
                      <%= link_to '删除', comments_movie_path(@movie), method: :delete, data: { confirm: '确认删除？' } %>
                    <% elsif is_admin? %>
                      <%= link_to '删除', comment_by_id_movie_path(@movie, comment_id: comment.id), method: :delete, data: { confirm: '确认删除？' } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr><td>还没有人发表过影评。</td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $(".comment-rating").each(function () {
      $(this).rateYo({
        rating: $(this).data('rating') || 0,
        starWidth: '16px',
        readOnly: true,
      });
    });
  });
</script>
