<h2>
  <%= link_to @movie.name, @movie %>
  <small>(<%= @movie.year %>)</small>
  图片
  <% if is_admin? %>
    <div class="btn-group">
      <%= link_to '新增电影', new_movie_path(@movie), class: 'btn btn-sm btn-default' %>
      <%= link_to '编辑电影', edit_movie_path(@movie), class: 'btn btn-sm btn-default' %>
      <%= link_to '新增时间', new_movie_timetable_path(@movie), class: 'btn btn-sm btn-default' %>
    </div>
  <% end %>
</h2>

<% if is_admin? %>
  <div class="movie-photos-upload">
    <%= bootstrap_form_for :photo, url: add_photos_movie_path(@movie), layout: :inline do |f| %>
      <%= f.text_field :title %>
      <%= f.select :photo_type, Photo::TYPES.invert.to_a, {}, id: 'photo_type' %>
      <%= f.text_field :url %>
      <%= f.file_field :url_file, skip_label: true %>
      <%= f.form_group do %>
        <%= f.submit "创建图片" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="movie-photos-all">
  <ul class="nav nav-tabs">
    <% Photo::TYPES.each do |type, display| %>
      <% next if @photos[type].nil? or @photos[type].empty? %>
      <li><a href="#<%= type %>" data-toggle="tab" data-type="<%= type %>" class="change-photo-type"><%= "#{display} (#{@photos[type].size})" %></a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% Photo::TYPES.each do |type, display| %>
      <% next if @photos[type].nil? or @photos[type].empty? %>
      <div class="photos tab-pane" id="<%= type %>">
        <% @photos[type].each do |photo| %>
          <div class="photo">
            <%= link_to big_photo_url(photo), class: 'photo-link', data: { gallery: type, title: photo.title } do %>
              <%= movie_image_tag photo, lazy: true, width: 100, height: 100 %>
            <% end %>
            <% if is_admin? %>
              <%= link_to '编辑', nil, class: 'photo-edit', data: { photo: photo.to_json } %>
              <%= link_to '删除', movie_photo_path(movie_id: @movie.id, id: photo.id), method: :delete, data: { confirm: '确认删除？' } %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if is_admin? %>
  <div class="modal fade" tabindex="-1" id="photo-edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">编辑图片</h4>
        </div>
        <div class="modal-body">
          <%= bootstrap_form_for :photo, url: nil, method: :put, layout: :horizontal, data: { action: movie_photo_path(@movie, '_ID_') } do |f| %>
            <%= f.text_field :title %>
            <%= f.select :photo_type, Photo::TYPES.invert.to_a, {}, id: 'photo_type' %>
            <%= f.text_field :url %>
            <%= f.file_field :url_file, skip_label: true %>
            <%= f.form_group do %>
              <%= f.submit "更新图片" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script>
  $(document).delegate('.photo-edit', 'click', function (e) {
    e.preventDefault();
    $('#photo-edit').modal();
    var photo = $(this).data('photo');
    $('#photo-edit [data-action]').each(function () {
      $(this).attr('action', $(this).data('action').replace('_ID_', photo.id));
    });
    ['title', 'photo_type', 'url'].forEach(function (field) {
      $('#photo-edit [name="photo[' + field + ']"]').val(photo[field]);
    });
  });
  </script>
<% end %>

<script>
$('.change-photo-type').on('shown.bs.tab', function (e) {
  if ($(this).index('.change-photo-type') === 0) {
    window.location.hash = '';
  } else {
    window.location.hash = '_' + $(this).data('type');
  }
  $('#photo_type').val($(this).data('type'));
  $('.photos.tab-pane.active img[data-src]').each(function () {
    $(this).prop('src', $(this).data('src'));
    $(this).removeAttr('data-src');
  });
});
$(document).delegate('.photo-link', 'click', function (e) {
  e.preventDefault();
  $(this).ekkoLightbox();
});
function hashChange () {
  var type = window.location.hash.slice(2);
  var tab = $('.change-photo-type[data-type="' + type + '"]');
  if (tab.length === 0) {
    tab = $('.change-photo-type').first();
  }
  tab.tab('show');
}
window.addEventListener('hashchange', hashChange, false);
hashChange();
</script>
