<div class="row cinema-header">
  <div class="col-sm-6">
    <div class="pull-left cinema-logo">
      <%= image_tag @cinema.logo, width: 102, height: 44 %>
    </div>
    <div class="pull-left">
      <h2 class="cinema-name">
        <%= @cinema.name %>
        <% if is_admin? %>
          <div class="btn-group">
            <%= link_to '新增影院', new_cinema_path(@cinema), class: 'btn btn-sm btn-default' %>
            <%= link_to '编辑影院', edit_cinema_path(@cinema), class: 'btn btn-sm btn-default' %>
            <%= link_to '删除影院', cinema_path(@cinema), data: { method: 'delete' }, class: 'btn btn-sm btn-default' %>
          </div>
        <% end %>
      </h2>
      <h5><%= @cinema.city %> <%= @cinema.district %></h5>
    </div>
  </div>
  <div class="col-sm-6 cinema-info">
    地址：<%= @cinema.address %><br>
    电话：<%= @cinema.phone %> 营业时间：<%= @cinema.business_hours %>
  </div>
</div>

<div class="row cinema-header">
  <div class="col-sm-9">
    <ul class="nav nav-tabs">
      <% @dates.each.with_index do |date, i| %>
        <li class="<%= i == 0 && ' active' || '' %>">
          <a href="#date-<%= date %>" data-toggle="tab">
            <%= date.strftime('%-m月%-d日') %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content cinema-list">
      <% @dates.each.with_index do |date, i| %>
        <div class="tab-pane<%= i == 0 && ' active' || '' %>" id="date-<%= date %>">

          <% movies = @cinema.timetables.where(date: date).group(:movie_id) %>

          <ul class="nav nav-tabs">
            <% movies.each.with_index do |tt, i| %>
              <li class="<%= i == 0 && ' active' || '' %>">
                <a href="#date-<%= date %>-<%= tt.movie.id %>" data-toggle="tab">
                  <%= image_tag tt.movie.poster, width: 100, height: 150 %>
                  <br>
                  <%= tt.movie.name %>
                </a>
              </li>
            <% end %>
          </ul>

          <div class="tab-content">
            <% movies.each.with_index do |tt, i| %>
              <div class="tab-pane<%= i == 0 && ' active' || '' %>" id="date-<%= date %>-<%= tt.movie.id %>">
                <h2>
                  <%= link_to tt.movie.name, tt.movie %>
                  <small>
                  <span class="label label-success"><%= tt.movie.ratings %></span>
                  </small>
                  <% if is_admin? %>
                    <%= link_to '创建新时间', new_movie_timetable_path(tt.movie), class: 'btn btn-sm btn-default' %>
                  <% end %>
                </h2>
                <table class="table cinema-timetable">
                  <tbody>
                    <% @cinema.timetables.where(date: date).where(movie: tt.movie.id).each.with_index do |t, i| %>
                      <tr>
                        <td class="ctt-1">
                          <h3><%= t.time.strftime('%H:%M') %></h3>
                          <span>预计<%= (t.time + tt.movie.runtime * 60).strftime('%H:%M') %>离场</span>
                        </td>
                        <td class="ctt-2">
                          <span>3D<br>中文</span>
                        </td>
                        <td class="ctt-3">
                          <span><%= t.room %></span>
                        </td>
                        <td class="ctt-4">
                          <%= price_tags t.prices %>
                          <% if is_admin? %>
                            <%= link_to '编辑', edit_movie_timetable_path(tt.movie, t) %>
                            <%= link_to '删除', movie_timetable_path(tt.movie, t), method: :delete %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3">
    <h3>影院介绍</h3>
    <%= simple_format @cinema.content %>
  </div>
</div>
