<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Buji</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<link href="//dn-staticfile.qbox.me/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//dn-staticfile.qbox.me/jquery/1.11.3/jquery.min.js"></script>
<script src="//dn-staticfile.qbox.me/jquery-ujs/1.1.0/rails.min.js"></script>
<script src="//dn-staticfile.qbox.me/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header row">
      <div class="col-sm-4">
        <%= link_to root_path do %>
          <%= image_tag 'logo', width: 90, height: 50 %>
        <% end %>
      </div><div class="header-search col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜索电影">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索</button>
          </span>
        </div>
      </div><div class="text-right col-sm-4">
        <% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path, class: 'header-link' %>
          <%= form_tag destroy_user_session_path, method: :delete, class: 'header-signout' do %><%= submit_tag '退出', class: 'header-link' %><% end %>
        <% else %>
          <%= link_to "登录", new_user_session_path, class: 'header-link' %>
          <%= link_to "注册", new_user_registration_path, class: 'header-link' %>
        <% end %>
      </div>
    </div>
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
  <footer class="footer">
    <p class="footer-copy">&copy; 2016 buji</p>
  </footer>
</body>
</html>
